*{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white : hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--very-light-gray);
}
h1{
    font-family:'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0px;
}
p{
    font-family: 'Lexend Deca';
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
}

.container{
    margin: 60px 30px;
    display: flex;

}

.container .card{
    padding: 20px;
    height: 60vh;
}
p,h1{
    color:var(--transparent-white);
}
.card1{
    background-color: var(--bright-orange);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
 
}
.card1 button{
    color:var(--bright-orange);
}
.card2{
    background-color: var(--dark-cyan);
}
.card2 button{
    color:var(--dark-cyan);
}
.card3{
    background-color: var(--very-dark-cyan);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.card3 button{
    color:var(--very-dark-cyan);
}
button{
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    margin:30px 0px ;
    background-color: var(--transparent-white);
}
button:hover{
    background-color: aliceblue;
    box-shadow: 2px 2px 10px white;
}
svg{
    padding-top: 25px;
    padding-bottom: 25px;
}
svg:hover{
    
    padding-left: 50px;
    color: white;

}
@media (max-width:375px)  {
    .container{
        flex-direction: column;
    }
    .card1{
        background-color: var(--bright-orange);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .card2{
        background-color: var(--dark-cyan);
    }
    .card3{
        background-color: var(--very-dark-cyan);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}